body {
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  color: #305cec;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

.navbar a:hover {
  color: #ff5e00;
  transform: scale(1.2);
}

.navbar a.active {
  color: #ff5e00;
}

.section {
  min-height: 100vh;
  padding: 100px 20px;
  text-align: center;
}

.section2 {
  min-height: 50vh;
  padding: 100px 20px;
  text-align: center;
}

#home { background-color: #f4f4f4; }
#about { background-color: #e1f5fe; }
#experience { background-color: #ffdd94; }
#contact { background-color: rgb(255, 251, 243); }

.profile-photo {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 50px;
  justify-items: center; 
  align-items: center; 
}

.showcase-photo {
  transform: rotate(-90deg);
  width: 50%;
  display: block;
  border-radius: 10px;
  margin: auto;
}

.social-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}

.social-links i {
  font-size: 5rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-links a {
  color: #305cec;
}

.social-links a:hover i {
  transform: scale(1.2);
  color: #ff5e00; 
}
